<body>
  <template id="kanbn-task-card">
    <div class="task" data-id="">
      <h3 class="task-title"></h3>
      <p class="task-desc"></p>
      <p class="task-status"></p>
    </div>
  </template>
  <template id="task-table-row">
    <tr class="task" data-id="">
      <td class="task-title"></td>
      <td class="task-desc"></td>
      <td class="task-status"></td>
    </tr>
  </template>
  <script
    src="./src/features/todos/templates/task-template.js"
    type="module"
  ></script>
</body>
