* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 200px auto;
  row-gap: 40px;
}
.task-form {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 5px;
}
input#task-name {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
button {
  padding: 10px;
  background-color: #e73f30;
  border: none;
  color: white;
  border-radius: 5px;
}
.tasks {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 20px;
  background-color: #ddd;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
}
li.task {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border-radius: 5px;
  align-items: flex-start;
  gap: 20px;
}
.task p {
  min-width: 0;
  font-weight: bold;
  font-size: 20px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex: 1;
}
